<html>
    <head>
        <title>JSON/XML Conversion</title>
    </head>
    <body>
        <h1>JSON2XML Conversion</h1>
        <form action="/json2xml" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/json"><br>
            <input type="submit" value="Submit">
        </form>
        <h1>XML2JSON Conversion</h1>
        <form action="/xml2json" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/xml"><br>
            <input type="submit">
        </form>
    </body>
</html>
